<%#
# Application Layout

This view template is used as the layout
for every page that Administrate generates.

By default, it renders:
- Sidebar for navigation
- Content for a search bar
  (if provided by a `content_for` block in a nested page)
- Flashes
- Links to stylesheets and Javascripts
%>
<h1>Help</h1>

<div id="download_soapui">
	<%= link_to "download SOAPUI files (zipped)", home_download_soapui_url %>
</div>