<!-- Page Content -->
<div class="container">
EPRI InterOP Version 0.2<BR><BR>
Electric Power Research Institute (EPRI) 
3420 Hillview Ave. 
Palo Alto, CA 94304<BR><BR>
Copyright © 2011 Electric Power Research Institute, Inc. All rights reserved.<BR><BR>

As a user of this EPRI preproduction software, you accept and acknowledge that:<BR>
<LI>This software is a preproduction version which may have problems that could potentially harm your system
<LI>To satisfy the terms and conditions of the Master License Agreement or Preproduction License Agreement between EPRI and your company, you understand what to do with this preproduction product after the preproduction review period has expired
<LI>Reproduction or distribution of this preproduction software is in violation of the terms and conditions of the Master License Agreement or Preproduction License Agreement currently in place between EPRI and your company
<LI>Your company's funding will determine if you have the rights to the final production release of this product
<li>EPRI will evaluate all tester suggestions and recommendations, but does not guarantee they will be incorporated into the final production product
<li>As a preproduction tester, you agree to provide feedback as a condition of obtaining the preproduction software
<BR>
Do you accept terms?<BR><BR>
<%= link_to "Accept", {:controller => 'home', :action=>'index'}, :class=>'tab_link' %> | <a href="http://epri.com">Reject</a>
</div>

<!-- /.container -->
