// interop specific includes, sigh...
.i_user_table {
  margin-top: 20px;
}

.i_nav li {
    display: block;
    padding: 5px 30px;
    color: #fff;
    text-decoration: none;
}

#message_sidebar {
	max-width: none;
	margin-top: 51px;
}

.test_seq_step_field-unit__field {
	width: 60%;
}

.page_data {
	display: none;
}

.super_nav {
	background: red;
}

.pre_message {
	width: 800px;
	height: 300px;
}

